/* src/styles/tailwind.scss */
.aligncss
{
    margin-top: 5%;
}
.btncss{
  background-color: black;
  width: 300px;

}
.btncss:hover{
  background-color: rgb(66, 66, 66);
  color: rgb(215, 215, 215);
}
